html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-color: #fff;
  margin-top: 100px;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
:root {
  --gradient-color: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  --green-color: #30c88f;
  --darkblue-color: #2d314d;
  --gray-color: #9597a5;
}

.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header_container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-right: auto;
}
.logo_link {
  margin-right: 251px;
}
.logo_img {
  display: block;
}
.nav_list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;
}
.nav_item {
  margin-right: 15px;
  margin-left: 15px;
}
.nav_link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597a5;
  text-decoration: none;
}
.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 26px;
  display: inline-block;
  vertical-align: baseline;
}
.bnt_gradient {
  background: var(--gradient-color);
  border-radius: 22px;
}
.intro {
  background-color: #f2f2f2;
}
.intro_info {
  width: 450px;
}
.intro_header {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}
.intro_desc {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597a5;
}
